node_modules/
.idea/
.DS_Store
.env
uploads/
build/
build/contracts/BasicToken.json
build/contracts/BUGToken.json
build/contracts/BurnableToken.json
build/contracts/ConvertLib.json
build/contracts/EIP20.json
build/contracts/EIP20Interface.json
build/contracts/ERC20.json
build/contracts/ERC20Basic.json
build/contracts/ERC223.json
build/contracts/ERC223Receiver.json
build/contracts/GoldToken.json
build/contracts/MetaCoin.json
build/contracts/Migrations.json
build/contracts/MintableToken.json
build/contracts/Ownable.json
build/contracts/SafeMath.json
build/contracts/Standard223Token.json
build/contracts/StandardToken.json
build/contracts/BasicToken.json
build/contracts/BUGToken.json
build/contracts/BurnableToken.json
build/contracts/ConvertLib.json
build/contracts/EIP20.json
build/contracts/EIP20Interface.json
build/contracts/ERC20.json
build/contracts/ERC20Basic.json
build/contracts/ERC223.json
build/contracts/ERC223Receiver.json
build/contracts/GoldToken.json
build/contracts/MetaCoin.json
build/contracts/Migrations.json
build/contracts/MintableToken.json
build/contracts/Ownable.json
build/contracts/SafeMath.json
build/contracts/Standard223Token.json
build/contracts/StandardToken.json
