<div class="css-banner-for-header-about-us">
    <div class="css-banner-for-header-title">Made In Canada</div>
</div>
<div class="css-heading-for-descriptor">
    <b> About Alchemest </b>
</div>
<div class="css-divider-image"></div>
<div class="css-description-for-heading">
    <p>
        Alchemest is a technology company that provides the platform for tokens representing real estate to be distributed to investors. It also enables investors to participate in their investments and receive rewards for the revenues that the investment generates.
    </p>
    <p>
        By using blockchain technology and digital signatures, Alchemest is making it easier, faster and cheaper for companies to invest in real estate.
    </p>
    <p>
        With Alchemest, private companies and real estate managers have alternative methods for financing their investments and expanding their user base.
    </p>
</div>
<div class="css-heading-for-descriptor">
    <b> The Alchemest Team </b>
</div>
<div class="css-divider-image"></div>
<div class="css-team-gallery">
    <div class="css-team-member">
        <div class="css-team-member-picture css-juan"></div>
        <div class="css-team-member-text">Juan Aja Aguinaco</div>
    </div>
    <div class="css-team-member">
        <div class="css-team-member-picture css-rico"></div>
        <div class="css-team-member-text">Fredrico Nassire</div>
    </div>
    <div class="css-team-member">
        <div class="css-team-member-picture css-chris"></div>
        <div class="css-team-member-text">Chris Forrester</div>
    </div>
    <div class="css-team-member">
        <div class="css-team-member-picture css-kris"></div>
        <div class="css-team-member-text">Kristofer Coward</div>
    </div>
</div>
<div class="css-footer">
    <p>
        <strong>Alchemest</strong> is a Canadian security token issuance & management platform. It is built to give investors a meaningful way to invest in security tokens and property held by the trust.
    </p>
    <h3>DISCOVER</h3>
    <ul>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/properties">Properties</a></li>
        <li><a href="/token">Token</a></li>
        <li><a href="/investors">Investors</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
    </ul>
    <p>Get in touch</p>
    <br>
    <p>
        144 Front St. W.
    </p>
    <p>
        Toronto, Ontario
    </p>
    <p>
        M5J 2L7
    </p>
</div>