<div class="css-left-pane">
    <a type="button" class="btn btn-default css-left-pane-button" href="/">Addresses</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/two-factor-options">Security</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/buy-tokens">Buy Tokens</a>
</div>
<div class="css-right-pane">
    <!--<h2 class="page-header">Dashboard</h2>-->
    <br>
    <p>Enter addresses below that you wish to claim under the Alchemy umbrella.</p>
    <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1" clickcontroller="addAddressToAccount">+</span>
        <input id="addressToAddToAccount" type="text" class="form-control" placeholder="0x0123456789012345678901234567890123456789" aria-describedby="sizing-addon1">
    </div>
    <div class="fn-owned-addresses-added css-owned-addresses-added">
        <!-- <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1" clickcontroller="addAddressToAccount"></span>
            <input id="addressToAddToAccount" type="text" class="form-control" placeholder="0x01234567890abcdef01234567890abcdef01234" aria-describedby="sizing-addon1">
       </div> -->
    </div>
</div>