<div class="css-main-window">
    <div>
        <div class="css-reit-property-advertisement-banner">
            <p class="css-heading-for-reit-property-advertisement">Enjoy ownership in a REIT portfolio that can be yours today</p>
            <p class="css-description-for-reit-property-advertisement"> Our real estate portfolio shown below contains a wide selection of hand picked properties creating a well diversified selection of assets for the security of your investment. </p>
        </div>
    </div>
    <div class="css-property-collection">
        <div class="css-property-listing">
            <h5 class="css-property-title">Old Chateau Acres</h5>
            <div class="css-property-content">
                <div class="css-property-picture">
                    <img class="css-property-image css-property-image-cottage">
                </div>
                <div class="css-property-description"> Behold the breathtaking landscapes and old manors of the estates on our Montana based landscapes. Acres of meadows are surrounded with lush forests providing the perfect getaway for groups who want to enjoy the beauty of nature with an old English touch.</div>
            </div>
        </div>
        <div class="css-property-listing">
            <h5 class="css-property-title">Bronsco Flats</h5>
            <div class="css-property-content">
                <div class="css-property-picture">
                    <img class="css-property-image css-property-apartment">
                </div>
                <div class="css-property-description"> Deep in the urban jungles of Chicago are the flats of the culture rich midwest. Just outside, visitors and tenants have access to the finest variety of services perfect for supporting everyday life at its finest.</div>
            </div>
        </div>
        <div class="css-property-listing">
            <h5 class="css-property-title">Olde Stokes Hotel</h5>
            <div class="css-property-content">
                <div class="css-property-picture">
                    <img class="css-property-image css-property-old-flat">
                </div>
                <div class="css-property-description"> On the west coast there stands a quaint and mysterious hotel perfect for spending a night in old fashioned solitude. Street lights allow the surrounding area to glow with luminescence creating a magical atmosphere for any explorer.</div>
            </div>
        </div>
        <div class="css-property-listing">
            <h5 class="css-property-title">Paradise Inn</h5>
            <div class="css-property-content">
                <div class="css-property-picture">
                    <img class="css-property-image css-property-old-tropical">
                </div>
                <div class="css-property-description"> Central America boasts one of the finest locations for a holiday getaway complete with an attached beach front and ripe with wildlife from the expansive jungles nearby.</div>
            </div>
        </div>
        <div class="css-property-listing">
            <h5 class="css-property-title">Amaretto Lounge</h5>
            <div class="css-property-content">
                <div class="css-property-picture">
                    <img class="css-property-image css-property-poolside">
                </div>
                <div class="css-property-description"> Relax and chill by the pool, while you enjoy a drink with your amigos on the exotic island lounge named after one of South America's favourite drinks. </div>
            </div>
        </div>
    </div>
</div>
<div class="css-invest-now-footer">
    <div class="css-invest-now-button"> Invest Now</div>
</div>