<div class="css-left-pane">
    <a type="button" class="btn btn-default css-left-pane-button" href="/">Dashboard</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/deposit">Deposit</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/withdraw">Withdraw</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/two-factor-options">Security</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/buy-tokens">Buy Products</a>
</div>
<div class="css-right-pane">
    <div class="css-max-right-pane-wrapper">
        <!--<h2 class="page-header">Dashboard</h2>-->
        <!-- <p>Please send Bitcoin to the following address and then we will credit your account with some gold tokens.</p> -->
        <!-- <div id="BTCPayQRCode"><img src="https://chart.googleapis.com/chart?chs=250x250&chld=L|2&cht=qr&chl=bitcoin:{{bitGoAddress}}"></img></div> -->
        <!-- <br/> -->
        <!-- Example split danger button -->
        <p>Select an address from your wallet for storing your product tokens.</p>
        <div class="input-group input-group-lg css-product-address-selector cssCursorPointer" clickcontroller="beginSelectProductAddress">
            <div class="input-group-addon swatch-light css-right-arrow-select" id="sizing-addon1" clickcontroller="addAddressToAccount"></div>
            <div id="product-address-selected" class="form-control css-address-selected" placeholder="0x0123456789012345678901234567890123456789" aria-describedby="sizing-addon1"> Click Here To Select An Address </div>
        </div>
        <p>Use the form below to enter quantities for your order.</p>
        <div class="container-fluid">
            <div class="row css-heading-dillon-gage-product">
                <div class="css-dillon-gage-heading-label">
                    <b>Product</b>
                </div>
                <div class="css-dillon-gage-heading-amount">
                    <b>Qty</b>
                </div>
                <div class="css-dillon-gage-heading-price">
                    <b>Price (BTC)</b>
                </div>
            </div>
        </div>
        <div class="container-fluid css-dillon-gage-product-list fn-dillon-gage-product-list">
            <div class="row css-row-dillon-gage-product">
                <img src="/images/1kg-gold-bar.png" class="img-thumbnail css-dillon-gage-thumbnail" alt="gold-bar">
                <div class="css-dillon-gage-product-label">
                    <b>Kilogram Gold Bar</b>
                </div>
                <div class="input-group input-group-md css-dillon-gage-amount">
                    <input type="text" class="form-control fnQty" value="1KILOG" placeholder="0" changecontroller="inputPurchaseQuantity">
                </div>
                <div class="css-dillon-gage-product-price">
                    <b class="fnPrice" value="1KILOG">0.00 BTC</b>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row css-footer-dillon-gage-product">
                <div class="css-dillon-gage-footer-label">
                    <h3>Grand Total:</h3>
                </div>
                <div class="css-dillon-gage-footer-total">
                    <h3 class="fn-grand-total">$0.00</h3>
                </div>
            </div>
        </div>
        <div class="css-purchase-button-panel">
            <a type="button" class="btn btn-success css-button-complete-withdrawal" clickcontroller="beginOrder"> Order Now </a>
        </div>
        <!--<script src="/js/price_interval.js"></script> -->
    </div>
</div>