<div class="css-left-pane">
    <a type="button" class="btn btn-default css-left-pane-button" href="/">Addresses</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/two-factor-options">Security</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/buy-tokens">Buy Tokens</a>
</div>
<div class="css-right-pane">
    <!--<h2 class="page-header">Dashboard</h2>-->
    <p>Please send Bitcoin to the following address and then we will credit your account with some gold tokens.</p>
    <div id="BTCPayQRCode"><img src="https://chart.googleapis.com/chart?chs=250x250&chld=L|2&cht=qr&chl=bitcoin:{{bitGoAddress}}"></img></div>
    <br/>
</div>