<div class="css-financial-report-header">
    <div class="css-financial-report-header-text">
        Transparency is important to our investors. That's why we provide them with clear information describing performance metrics for the fund. This provides investors with a detailed summary of the fund's financials ensuring investor confidence in our marketplace.
    </div>
</div>
<div class="css-financial-report">
    <div class="css-dashboard-heading">Income Statement</div>
    <div class="css-dashboard-listings">
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Revenue (LTM) ($)</div>
            <div class="css-dashboard-listing-value">285.21m</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Revenue per Share (LTM) ($)</div>
            <div class="css-dashboard-listing-value">4.80395</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Revenue Growth 3 Yr</div>
            <div class="css-dashboard-listing-value">-25.93</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Revenue Growth 5 Yr</div>
            <div class="css-dashboard-listing-value">-14.92</div>
        </div>
    </div>
    <div class="css-dashboard-heading">Profitability Ratios</div>
    <div class="css-dashboard-listings">
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Gross Margin</div>
            <div class="css-dashboard-listing-value">54.30%</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">EBITDA Margin</div>
            <div class="css-dashboard-listing-value">83.40%</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Profit Margin (Cont. Op)</div>
            <div class="css-dashboard-listing-value">55.32%</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">EBIT Margin</div>
            <div class="css-dashboard-listing-value">77.60%</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Pre-Tax Profit Margin</div>
            <div class="css-dashboard-listing-value">-0.40%</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Profit Margin (Total Op)</div>
            <div class="css-dashboard-listing-value">55.32%</div>
        </div>
    </div>
    <div class="css-dashboard-heading">Liquidity Ratios</div>
    <div class="css-dashboard-listings">
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Quick Ratio</div>
            <div class="css-dashboard-listing-value">0.20</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Lng Trm Debt - Total Capital</div>
            <div class="css-dashboard-listing-value">0.47</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Interest Coverage</div>
            <div class="css-dashboard-listing-value">3.50</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Current Ratio</div>
            <div class="css-dashboard-listing-value">0.20</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Total Debt to Equity</div>
            <div class="css-dashboard-listing-value">0.94</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Leverage Ratio</div>
            <div class="css-dashboard-listing-value">2.10</div>
        </div>
    </div>
    <div class="css-dashboard-heading">Management Effectiveness</div>
    <div class="css-dashboard-listings">
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Return on Equity (LTM)</div>
            <div class="css-dashboard-listing-value">9.76%</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Return on Assets (LTM)</div>
            <div class="css-dashboard-listing-value">4.90%</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Return on Capital (LTM)</div>
            <div class="css-dashboard-listing-value">7.30%</div>
        </div>
    </div>
    <div class="css-dashboard-heading">Efficiency Ratios</div>
    <div class="css-dashboard-listings">
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Asset Turnover</div>
            <div class="css-dashboard-listing-value">0.00</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Inventory Turnover</div>
            <div class="css-dashboard-listing-value">N/A</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Receivable Turnover</div>
            <div class="css-dashboard-listing-value">7.40</div>
        </div>
    </div>
    <div class="css-dashboard-heading">Valuation Ratios</div>
    <div class="css-dashboard-listings">
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">P/E Ratio</div>
            <div class="css-dashboard-listing-value">16.50</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Book Value Of Equity Per Share</div>
            <div class="css-dashboard-listing-value">33.23</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">P/E High - Last 5 Years</div>
            <div class="css-dashboard-listing-value">N/A</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">P/E Low - Last 5 Years</div>
            <div class="css-dashboard-listing-value">N/A</div>
        </div>
    </div>
    <div class="css-dashboard-heading">Price To Comparisons</div>
    <div class="css-dashboard-listings">
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Price to Sales</div>
            <div class="css-dashboard-listing-value">5.18324</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Price to Book</div>
            <div class="css-dashboard-listing-value">1.08</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Price to Tangible Book</div>
            <div class="css-dashboard-listing-value">1.10</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Price to Cash Flow</div>
            <div class="css-dashboard-listing-value">8.40</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Price to Free Cash</div>
            <div class="css-dashboard-listing-value">-18.40</div>
        </div>
    </div>
    <div class="css-dashboard-heading">Dividends</div>
    <div class="css-dashboard-listings">
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Annual Dividend Rate ($)</div>
            <div class="css-dashboard-listing-value">0.99996</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Annual Dividend Yield</div>
            <div class="css-dashboard-listing-value">4.0159</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Dividend Growth 3 Yr</div>
            <div class="css-dashboard-listing-value">N/A</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Dividend Growth 5 Yr</div>
            <div class="css-dashboard-listing-value">N/A</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Ex-Dividend Date</div>
            <div class="css-dashboard-listing-value">2019-02-27</div>
        </div>
        <div class="css-dashboard-listing">
            <div class="css-dashboard-listing-label">Payment Type</div>
            <div class="css-dashboard-listing-value">Cash</div>
        </div>
    </div>
</div>