<div class="css-left-pane">
    <a type="button" class="btn btn-default css-left-pane-button" href="/">Dashboard</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/deposit">Deposit</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/withdraw">Withdraw</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/two-factor-options">Security</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/buy-tokens">Buy Gold</a>
</div>
<div class="css-right-pane">
    <div class="css-balance-boxes">
        <div class="css-total-balance">
            <h3 class="css-total-balance-label">Total Balance:</h3>
            <h3 class="css-total-balance-value">{{balance}}</h3>
        </div>
        <div class="css-spendable-balance">
            <h3 class="css-spendable-balance-label">Spendable Balance:</h3>
            <h3 class="css-spendable-balance-value">{{spendableBalance}}</h3>
        </div>
    </div>
    <div id="BTCPayQRCode"><img src="https://chart.googleapis.com/chart?chs=250x250&chld=L|2&cht=qr&chl=bitcoin:{{bitGoAddress}}"></img></div>
    <p>Please send Bitcoin to the address above to credit your account.</p>
    <br/>
</div>