<h2 class="page-header">Forgotten Password</h2>
<form id="password-reset-form" method="post" action="/forgotten-password-submitted">
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Enter your email here">
    </div>
    <div class="g-recaptcha" data-sitekey={{google_recaptcha_public}}></div>
    <button type="submit" class="css-float-left btn btn-default">Send Link</button>
</form>