<div class="css-banner-for-header-text">
    <div class="css-banner-for-header-title">CANADA'S COMPLIANT REIT TOKEN</div>
    <div class="css-banner-for-header-description">The token for well diversified and secure real estate ownership</div>
    <div class="css-banner-for-header-advertisement">Join Our Community Here</div>
    <div class="css-banner-for-header-icons"></div>
</div>
<div class="css-heading-for-descriptor">
    <b>Easier, Faster & Cheaper Investments </b>
</div>
<div class="css-divider-image"></div>
<div class="css-description-for-heading">
    <p>
        Alchemest is here to make investing in companies & real estate easier, faster and cheaper by using the Shyft blockchain.
    </p>
    <p>
        With Alchemest, businesses can:
    </p>
    <ul>
        <li><strong>Sell in Canada and abroad</strong></li>
        <li><strong>Meet compliance requirements</strong></li>
        <li><strong>Hold tokens representing their Real Estate investments</strong></li>
        <li><strong>Manage investor relationships digitally</strong></li>
    </ul>
    <p> At Alchemest we're in digitizing investors & investments</p>
    <div>

    </div>
</div>
<div class="css-building-image">
    <img>
</div>
<div class="css-email-banner">

</div>
<div class="css-heading-for-descriptor">
    <b>What is a security token? </b>
</div>
<div class="css-divider-image"></div>
<div class="css-description-for-heading">
    <p>
        A security token is the representation of a regulated financial security recorded on the blockchain. The blockchain is a tamper-proof permanent record of transactions that can be used to record ownership of security tokens digitally.
    </p>
    <p>
        In Canada, the real estate market is a safe and stable market due to controls imposed by the Government of Canada making it a solid investment with generous returns.
    </p>
</div>
<div class="css-footer">
    <p>
        <strong>Alchemest</strong> is a Canadian security token issuance & management platform. It is built to give investors a meaningful way to invest in security tokens and property held by the trust.
    </p>
    <h3>DISCOVER</h3>
    <ul>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/properties">Properties</a></li>
        <li><a href="/token">Token</a></li>
        <li><a href="/investors">Investors</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
    </ul>
    <p>Get in touch</p>
    <br>
    <p>
        144 Front St. W.
    </p>
    <p>
        Toronto, Ontario
    </p>
    <p>
        M5J 2L7
    </p>
</div>
<!--<div class="css-left-pane">-->
    <!--<a type="button" class="btn btn-default css-left-pane-button" href="/">Dashboard</a>-->
    <!--&lt;!&ndash;<a type="button" class="btn btn-default css-left-pane-button" href="/deposit">Deposit</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a type="button" class="btn btn-default css-left-pane-button" href="/withdraw">Withdraw</a>&ndash;&gt;-->
    <!--<a type="button" class="btn btn-default css-left-pane-button" href="/two-factor-options">Security</a>-->
    <!--<a type="button" class="btn btn-default css-left-pane-button" href="/buy-tokens">Buy Products</a>-->
<!--</div>-->
<!--<div class="css-right-pane">-->
    <!--<div class="css-balance-boxes">-->
        <!--<p>This screen will display a list of the Dillon Gage products that you have bought using the web interface. </p>-->
        <!--<div class="css-total-balance">-->
            <!--<h3 class="css-total-balance-label">Total Balance:</h3>-->
            <!--<h3 class="css-total-balance-value">{{balance}}</h3>-->
        <!--</div>-->
        <!--<div class="css-spendable-balance">-->
            <!--<h3 class="css-spendable-balance-label">Spendable Balance:</h3>-->
            <!--<h3 class="css-spendable-balance-value">{{spendableBalance}}</h3>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;<h2 class="page-header">Dashboard</h2>&ndash;&gt;-->
     <!--&lt;!&ndash;<p>Enter all addresses below that correspond to the addresses contained in your wallets so that they are covered under your account.</p>&ndash;&gt;-->
     <!--&lt;!&ndash;<div class="input-group input-group-lg">&ndash;&gt;-->
         <!--&lt;!&ndash;<span class="input-group-addon" id="sizing-addon1" clickcontroller="addAddressToAccount">+</span>&ndash;&gt;-->
         <!--&lt;!&ndash;<input id="addressToAddToAccount" type="text" class="form-control" placeholder="0x0123456789012345678901234567890123456789" aria-describedby="sizing-addon1">&ndash;&gt;-->
     <!--&lt;!&ndash;</div>&ndash;&gt;-->
     <!--&lt;!&ndash;<div class="fn-owned-addresses-added css-owned-addresses-added">&ndash;&gt;-->
         <!--&lt;!&ndash; <div class="input-group input-group-lg">-->
             <!--<span class="input-group-addon" id="sizing-addon1" clickcontroller="addAddressToAccount"></span>-->
             <!--<input id="addressToAddToAccount" type="text" class="form-control" placeholder="0x01234567890abcdef01234567890abcdef01234" aria-describedby="sizing-addon1">-->
        <!--</div> &ndash;&gt;-->
     <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->