<div class="css-banner-for-header-text">
    <div class="css-banner-for-header-title">Presenting REIT Wallet By Alchemest</div>
    <div class="css-banner-for-header-description">The application for managing your digital shares in Real Estate </div>
    <div class="css-banner-for-header-advertisement">Join Our Community Here</div>
    <div class="css-banner-for-header-icons"></div>
</div>
<div class="css-heading-for-descriptor">
    <b>What we do</b>
</div>
<div class="css-divider-image"></div>
<div class="css-description-for-heading">
    <p>
        Alchemest is here to make investing in companies & real estate easier, faster and cheaper by using the Shyft blockchain.
    </p>
    <p>
        With Alchemest, businesses can:
    </p>
    <ul>
        <li><strong>Sell in Canada and abroad</strong></li>
        <li><strong>Meet compliance requirements</strong></li>
        <li><strong>Hold tokens representing their Real Estate investments</strong></li>
        <li><strong>Manage investor relationships digitally</strong></li>
    </ul>
    <p> At Alchemest we're in digitizing investors & investments</p>
    <div>

    </div>
</div>
<div class="css-building-image">
    <img>
</div>
<div class="css-email-banner">

</div>
<div class="css-heading-for-descriptor">
    <b>Who we are</b>
</div>
<div class="css-divider-image"></div>
<div class="css-team-gallery">
    <div class="css-team-member">
        <div class="css-team-member-picture css-juan"></div>
        <div class="css-team-member-text">Juan Aja Aguinaco</div>
    </div>
    <div class="css-team-member">
        <div class="css-team-member-picture css-rico"></div>
        <div class="css-team-member-text">Fredrico Nassire</div>
    </div>
    <div class="css-team-member">
        <div class="css-team-member-picture css-chris"></div>
        <div class="css-team-member-text">Chris Forrester</div>
    </div>
    <div class="css-team-member">
        <div class="css-team-member-picture css-kris"></div>
        <div class="css-team-member-text">Kristofer Coward</div>
    </div>
</div>
<div class="css-email-banner"></div>
<div class="css-heading-for-descriptor">
    <b>Where we are</b>
</div>
<div class="css-divider-image"></div>
<div class="css-description-for-heading">
    <p>
        Alchemest is located in the heart of downtown Toronto and is well connected with Toronto's blockchain community which is well known for many high profile projects such as Ethereum.
    </p>
</div>
<div class="css-email-banner"></div>
<div class="css-heading-for-descriptor">
    <b>Our Portfolio</b>
</div>
<div class="css-divider-image"></div>
<div class="css-property-collection">
    <div class="css-property-listing">
        <h5 class="css-property-title">Old Chateau Acres</h5>
        <div class="css-property-content">
            <div class="css-property-picture">
                <img class="css-property-image css-property-image-cottage">
            </div>
            <div class="css-property-description"> Behold the breathtaking landscapes and old manors of the estates on our Montana based landscapes. Acres of meadows are surrounded with lush forests providing the perfect getaway for groups who want to enjoy the beauty of nature with an old English touch.</div>
        </div>
    </div>
    <div class="css-property-listing">
        <h5 class="css-property-title">Bronsco Flats</h5>
        <div class="css-property-content">
            <div class="css-property-picture">
                <img class="css-property-image css-property-apartment">
            </div>
            <div class="css-property-description"> Deep in the urban jungles of Chicago are the flats of the culture rich midwest. Just outside, visitors and tenants have access to the finest variety of services perfect for supporting everyday life at its finest.</div>
        </div>
    </div>
    <div class="css-property-listing">
        <h5 class="css-property-title">Olde Stokes Hotel</h5>
        <div class="css-property-content">
            <div class="css-property-picture">
                <img class="css-property-image css-property-old-flat">
            </div>
            <div class="css-property-description"> On the west coast there stands a quaint and mysterious hotel perfect for spending a night in old fashioned solitude. Street lights allow the surrounding area to glow with luminescence creating a magical atmosphere for any explorer.</div>
        </div>
    </div>
    <div class="css-property-listing">
        <h5 class="css-property-title">Paradise Inn</h5>
        <div class="css-property-content">
            <div class="css-property-picture">
                <img class="css-property-image css-property-old-tropical">
            </div>
            <div class="css-property-description"> Central America boasts one of the finest locations for a holiday getaway complete with an attached beach front and ripe with wildlife from the expansive jungles nearby.</div>
        </div>
    </div>
    <div class="css-property-listing">
        <h5 class="css-property-title">Amaretto Lounge</h5>
        <div class="css-property-content">
            <div class="css-property-picture">
                <img class="css-property-image css-property-poolside">
            </div>
            <div class="css-property-description"> Relax and chill by the pool, while you enjoy a drink with your amigos on the exotic island lounge named after one of South America's favourite drinks. </div>
        </div>
    </div>
</div>
<div class="css-footer">
    <p>
        <strong>Alchemest</strong> is a Canadian security token issuance & management platform. It is built to give investors a meaningful way to invest in security tokens and property held by the trust.
    </p>
    <h3>DISCOVER</h3>
    <p>Get in touch</p>
    <br>
    <p>
        144 Front St. W.
    </p>
    <p>
        Toronto, Ontario
    </p>
    <p>
        M5J 2L7
    </p>
</div>