<div class="css-left-pane">
    <a type="button" class="btn btn-default css-left-pane-button" href="/">Addresses</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/two-factor-options">Security</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/buy-tokens">Buy Tokens</a>
</div>
<div class="css-right-pane">
    <p class="css-heading-for-id-address">Documents Under Review</p>
    <p>We are reviewing the documents that you have submitted. We will be in touch. </p>
    <!--<h2 class="page-header">Dashboard</h2>-->
    <!-- <p>Enter addresses below that you wish to claim under the Alchemy umbrella.</p> -->
</div>