<div class="css-left-pane">
    <a type="button" class="btn btn-default css-left-pane-button" href="/">Dashboard</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/deposit">Deposit</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/withdraw">Withdraw</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/two-factor-options">Security</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/buy-tokens">Buy Gold</a>
</div>
<div class="css-right-pane">
    <!--<h2 class="page-header">Dashboard</h2>-->
    <p>Our records indicate that you have enabled two factor authentication for your account.</p>
    <p>Please enter a valid code below and click 'Confirm' to remove 2 factor authentication from your account.</p>
    <br/>
    <form method="post" action="/click-remove-2fa">
        <div class="input-group input-group-sm css-small-screen-width">
            <input id="2faCode" type="text" class="form-control" placeholder="000000" aria-describedby="sizing-addon1" autocomplete="off">
            <span class="input-group-btn">
                <button class="btn btn-secondary css-remove-2fa-button" type="Button" clickcontroller="remove2FA">Remove 2FA</button>
            </span>
        </div>
    </form>
</div>