<div class="css-banner-for-header-about-us">
    <div class="css-banner-for-header-title">Resources</div>
</div>
<div class="css-heading-for-descriptor">
    <b> Stay Posted </b>
</div>
<div class="css-divider-image"></div>
<div class="css-description-for-heading">
    <p>
        It is Alchemest's intention to post technical documents, a whitepaper and publications supporting our project in the near future.
    </p>
    <p>
        Alchemest is focused on providing investors with a fully transparent system for token holders to ensure investors integrity and confidence.
    </p>
</div>
<div class="css-footer">
    <p>
        <strong>Alchemest</strong> is a Canadian security token issuance & management platform. It is built to give investors a meaningful way to invest in security tokens and property held by the trust.
    </p>
    <h3>DISCOVER</h3>
    <ul>
        <li><a href="/about-us">About Us</a></li>
        <li><a href="/properties">Properties</a></li>
        <li><a href="/token">Token</a></li>
        <li><a href="/investors">Investors</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
    </ul>
    <p>Get in touch</p>
    <br>
    <p>
        144 Front St. W.
    </p>
    <p>
        Toronto, Ontario
    </p>
    <p>
        M5J 2L7
    </p>
</div>