<p>Our records indicate that the specified user does not exist on our system.</p>
<br/>
<form method="get" action="/login">
    <div class="input-group input-group-sm css-small-screen-width">
        <span class="input-group-btn">
            <button class="btn btn-secondary css-remove-2fa-button" type="Submit">Go Back</button>
        </span>
    </div>
</form>