<div class="css-main-window">
    <div class="css-left-wallet-panel">
        <div class="css-top-wallet-panel">
            <div class="css-balance-panel">
                <div class="css-btc-balance-label">BTC Balance:</div>
                <div class="css-btc-balance fn-display-btc-balance">{{btc-balance}}</div>
                <div class="css-reco-balance-label">RECO Balance:</div>
                <div class="css-reco-balance-subpanel">
                    <div class="css-reco-balance">{{reco-balance-in-reco}}</div>
                    <div class="css-reco-balance-in-usd">{{reco-balance-in-usd}}</div>
                </div>
                <div class="css-convert-btc-to-reco fn-convert-btc-to-reco">Buy RECO with BTC</div>
            </div>
            <div class="css-right-wallet-panel">
                <div class="css-fund-now-button" clickcontroller="fundNowButton">Fund Your Account</div>
            </div>
        </div>
        <!--<div class="css-buy-reco-panel">-->
            <!--<input type="text" class="form-control css-btc-purchase-amount fn-btc-purchase-amount" name="email" placeholder="0">-->
            <!--<div class="">{{balance}}</div>-->
            <!--<div class="css-send-button"></div>-->
        <!--</div>-->
        <!--<div class="css-send-panel">-->
            <!--<input type="text" class="form-control" name="email" placeholder="Enter your email here">-->
            <!--<input type="text" class="form-control" name="amount" placeholder="Enter your email here">-->
            <!--<input type='submit' class='fn-file-real-submit-button' value='Upload!'/>-->
        <!--</div>-->
    </div>
</div>
<!--<div class="css-invest-now-footer">-->
    <!--<div class="css-invest-now-button" clickController="investNowLicensingAgreement"> Invest Now</div>-->
<!--</div>-->