<div class="css-left-pane">
    <a type="button" class="btn btn-default css-left-pane-button" href="/">Dashboard</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/deposit">Deposit</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/withdraw">Withdraw</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/two-factor-options">Security</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/buy-tokens">Buy Gold</a>
</div>
<div class="css-right-pane">
    <p>Add a new withdrawal address using the box below.</p>
    <div class="input-group input-group-lg">
        <input id="withdrawalAddressToAdd" type="text" class="form-control" placeholder="1xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" aria-describedby="sizing-addon1">
        <span class="input-group-addon cssCursorPointer" clickcontroller="addWithdrawalAddress"> Add </span>
    </div>
    <div class="css-descriptor-withdraw-bitcoin-address">
        <p> Select an address below to withdraw to. </p>
    </div>
    <div class="css-withdrawal-address-list fn-withdrawal-address-list">
        {{#each addresses}}
            <div class="css-withdrawal-address fn-withdrawal-address" value="{{address}}">
                <div class="css-withdrawal-address-main-text fn-withdrawal-address-main-text cssCursorPointer" clickcontroller="selectWithdrawalAddress" aria-describedby="sizing-addon1" value="{{address}}"> {{address}} </div>
                <div class="cssCursorPointer css-withdrawal-address-delete" clickcontroller="deleteWithdrawalAddress" value="{{address}}">
                    <div class="css-withdrawal-address-delete-image"></div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="css-descriptor-withdraw-bitcoin-amount">
        <p> Enter the amount you would like to withdraw below. </p>
    </div>
    <div class="input-group input-group-md">
        <input id="withdrawalAmount" type="text" class="form-control" aria-describedby="sizing-addon1">
    </div>
    <div class="css-descriptor-withdraw-bitcoin-button">
        <p> Click the button below to process your withdrawal. </p>
    </div>
    <a type="button" class="btn btn-default css-button-complete-withdrawal" clickcontroller="submitWithdrawal"> Withdraw </a>
</div>
