<div class="css-left-pane">
    <a type="button" class="btn btn-default css-left-pane-button" href="/">Dashboard</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/deposit">Deposit</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/withdraw">Withdraw</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/two-factor-options">Security</a>
    <a type="button" class="btn btn-default css-left-pane-button" href="/buy-tokens">Buy Gold</a>
</div>
<div class="css-right-pane">
    <p>Please check your email for your withdrawal request.</p>
</div>