html {
  height: 100%;
}

/* Space out content a bit */
body {
  height: 100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;

}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  height: 60px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  bottom: 10px;
  height: 45px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    /*max-width: 730px;*/
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.page-header{
  margin-top:0;
}

footer{
  margin-top:40px;
}

.css-owned-addresses-added{
  padding-top: 10px;
}

.fnShowErrorForTakenAddress.alert-danger {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fnShowErrorForTakenAddress.alert-success {
  margin-top: 10px;
  margin-bottom: 10px;
}

.css-green-background {
  background-color: #dff0d8;
}

.css-remove-2fa-button {
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  background-color: #eee;
}

.css-add-2fa-button {
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  background-color: #eee;
}

.css-small-screen-width {
  width: 280px;
}

.css-or-enter {
  padding-top: 20px;
}

.css-2fa-key {
  margin-top: 0px;
}

.css-overlay {
  z-index: 5;
  height:100vh;
  width: 100vw;
  position: absolute;
  opacity: 0.8;
  background-color: grey;
  display: none;
}

.css-main-page {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}

.css-float-right {
  float: right;
}

.css-float-left {
  float: left;
}

.css-password-change-2fa-modal {
  max-width: 400px;
  max-height: 200px;
  padding-top: 20px;
  background-color: skyblue;
  top: calc(50% - 100px);
  border-radius: 10px;
}

.css-add-withdrawal-address-2fa-modal {
  max-width: 400px;
  max-height: 200px;
  padding-top: 20px;
  background-color: skyblue;
  top: calc(50% - 100px);
  border-radius: 10px;
}

.css-2fa-not-attemptable {
  max-width: 400px;
  max-height: 200px;
  padding-top: 20px;
  background-color: skyblue;
  top: calc(50% - 100px);
}

.css-confirm-delete-withdrawal-address-modal {
  max-width: 400px;
  max-height: 130px;
  padding-top: 20px;
  background-color: skyblue;
  top: calc(50% - 100px);
  border-radius: 10px;
}

.css-2fa-not-attemptable button {
  position: relative;
  left: calc(50% - 30px);
}

.css-2fa-not-attemptable input {
  width: 50%;
}

.css-change-password-2fa-input {
  width: 50%;
  margin-top: 10px;
}

.css-add-withdrawal-address-2fa-input {
  width: 50%;
  margin-top: 10px;
}

.css-left-pane {
  width: 200px;
  float: left;
  height: 100%;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.css-right-pane {
  width: calc(100% - 200px);
  float: right;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.css-main-container {
  height: 100%;
  width: 100%;
  /*padding-left: 40px;*/
}

.css-main-container-body-row {
  height: calc(100% - 105px);
  padding-top: 10px;
}

.css-alert-box {
  height: 100%;
}

.css-left-pane-button {
  background-color: aliceblue;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  line-height: 32px;
}

.css-image-bottles {
  width: 28px;
  height: 40px;
  float: left;
  background: url(../images/glass-bottle.jpg) repeat 0 0;
  background-size: 100%;
}

.css-address-group {
  position: relative;
  display: inline-block;
  border-collapse: separate;
  width: 100%;
  overflow-x: hidden;
}

.css-address-left-tab {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  font-weight: normal;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  width: 5%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  display: table;
  border-collapse: separate;
  float: left;
}

.css-address-main-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  position: relative;
  z-index: 2;
  float: left;
  width: calc(100% - 45px);
  margin-bottom: 0;
  color: #555;
  background-image: none;
  border: 1px solid #ccc;
  font-weight: bold;
  overflow-x: hidden;
  float: left;
}

.css-dropzone {
  height: 100px;
}

.css-file-upload-button {
  height: 35px;
  width: 150px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 10px;
  border-color: #ccc;
  background-color: #eee;
}

.css-file-upload-button-text{
  line-height: 35px;
  text-align: center;
  width: 100%;
}

.css-file-upload-button {
  padding-bottom: 20px;
}

.css-file-real-submit-button {

}

.css-file-real-upload-button {
  display: none;
}

.css-file-submit-button {
  background-color: #dff0d8;
}

.css-file-real-submit-button {
  display: none;
}

.css-label-row-chosen-file {
  height: 30px;
}

.css-label-chosen-file {
  padding-right: 10px;
  font-weight: bold;
}

.css-chosen-file-full-text {
  font-weight: bold;
  color: green;
}

.css-heading-for-id-address {
  font-size: 16px;
  font-weight: bold;
}

.css-file-submit-button {
  height: 35px;
  width: 150px;
  color: #000;
}

.cssRegisterSubmit {
  margin-top: 10px;
}

.css-form-group-half-screen {
  width: 50%;
  float: left;
  padding-right: 10px;
}

.css-form-group-half-screen {

}

.css-form-group-full-screen {
  padding-right: 10px;
}

.css-inputs-for-document-upload {
  display: block;
  margin-top: 30px;
  height: 310px;
}

.css-document-upload-section {
  margin-bottom: 50px;

}

.header .row {
  margin-left: 0px;
  margin-right: 0px;
}

.css-main-display {
  overflow-y: auto;
}

#BTCPayQRCode {
  width: 300px;
  height: 300px;
}

#BTCPayQRCode img {
  width: 300px;
  height: 300px;
}

.css-total-balance {
  display: inline-block;
  padding-bottom: 10px;
  width: 450px;
}

.css-spendable-balance {
  display: inline-block;
  padding-bottom: 10px;
  width: 450px;
}

.css-total-balance-label {
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  color: green;
}

.css-total-balance-value {
  float: left;
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: green;
}

.css-spendable-balance-label {
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  color: darkgreen;
}

.css-spendable-balance-value {
  float: left;
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: darkgreen;
}

.css-balance-boxes {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 450px;
}

.cssCursorPointer {
  cursor: pointer;
}

/* css-address-main-text */
.css-withdrawal-address-main-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  position: relative;
  z-index: 2;
  float: left;
  width: calc(100% - 80px);
  margin-bottom: 0;
  color: #555;
  background-image: none;
  border: 1px solid #ccc;
  font-weight: bold;
  overflow-x: hidden;
  float: left;
  border-radius: 20px;
  background-color: #dff0d8;

}

.css-withdrawal-address-main-text.cssSelected {
  background-color: #b7e8b0;
  border-color: green;
  border-width: 3px;
  padding: 8px 16px;
}

/*css-address-left-tab*/
.css-withdrawal-address-delete {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  font-weight: normal;
  color: #555;
  text-align: center;
  width: 5%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  display: table;
  border-collapse: separate;
  float: right;
}

.css-withdrawal-address-delete-image {
  width: 28px;
  height: 28px;
  float: left;
  background: url(../images/Red-X-in-circle.png) repeat 0 0;
  background-size: 100%;
}

.css-withdrawal-address {
  padding-top: 10px;
  width: 100%;
  height: 55px;
}

.css-descriptor-withdraw-bitcoin-address {
  padding-top: 20px;
}

.css-descriptor-withdraw-bitcoin-amount {
  padding-top: 20px;
}

.css-descriptor-withdraw-bitcoin-button {
  padding-top: 20px;
}

.css-row-dillon-gage-product {
  height: 70px;
}

.css-row-dillon-gage-product-modal {
  height: 20px;
}

.css-dillon-gage-thumbnail {
  float:left;
}

.css-dillon-gage-thumbnail-modal {
  float:left;
}

.css-dillon-gage-amount {
  float: right;
  width: 50px;
  top: 15px;
}

.css-dillon-gage-amount-modal {
  float: right;
  width: 50px;
  /*top: 40px;*/
  position: relative;
}

.css-dillon-gage-product-label {
  top: 20px;
  position: relative;
  left: 20px;
  float: left;
  width: 200px;
}

.css-dillon-gage-product-label-modal {
  /*top: 40px;*/
  position: relative;
  /*left: 20px;*/
  float: left;
  width: 200px;
}

.css-dillon-gage-product-price {
  width: 110px;
  float: right;
  top: 20px;
  position: relative;
}

.css-dillon-gage-product-price-modal {
  width: 140px;
  float: right;
  position: relative;
}

.css-dillon-gage-heading-label {
  position: relative;
  float: left;
  width: 200px;
}

.css-dillon-gage-heading-label-modal {
  position: relative;
  float: left;
  width: 200px;
}

.css-dillon-gage-heading-price {
  width: 140px;
  float: right;
  position: relative;
}

.css-dillon-gage-heading-price-modal {
  width: 140px;
  float: right;
  position: relative;
}

.css-dillon-gage-heading-amount {
  float: right;
  width: 110px;
  top: 35px;
}

.css-dillon-gage-heading-amount-modal {
  float: right;
  width: 50px;
  top: 35px;
}

.css-heading-dillon-gage-product{
  padding-top: 0px;
  height: 40px;
}

.css-heading-dillon-gage-product-modal{
  padding-top: 20px;
  height: 60px;
}

.css-dillon-gage-footer-label {
  color: orangered;
  float: left;
}

.css-dillon-gage-footer-label-modal {
  color: orangered;
  float: left;
}

.css-dillon-gage-footer-total {
  color: orangered;
  float: right;
}

.css-dillon-gage-footer-total-modal {
  color: orangered;
  float: right;
}

.css-purchase-button-panel {
  padding-top: 20px;
}

.css-max-right-pane-wrapper {
  min-width: 500px;
}

.modal-header .close {
  position: absolute;
  top: 13px;
  right: 10px;
}

.css-dillon-gage-heading-total-modal {
  float: right;
  width: 125px;
}

.css-dillon-gage-product-total-modal {
  float: right;
  width: 125px;
  position: relative;
  /*top: 40px;*/
}

.css-footer-dillon-gage-product-modal {
  padding-right: 50px;
}

.css-dillon-gage-product-list {
  max-height: 170px;
  overflow-y: auto;
}

.css-right-arrow-select {
  background: url(../images/icon-arrow-right.png) repeat 0 0;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 1px;
  background-color: #5cb85c;
}

.css-product-address-selector {
  margin-bottom: 10px;
}

.css-address-selected {
  background-color: #bceebc;
}

.css-modal-select-product-address {
  width: 650px;
  margin-bottom: 20px;
}

.css-modal-select-product-address .css-modal-order-content {
  padding-bottom: 30px;
}

.css-center-qr-code-in-modal {
  width: 250px;
  height: 250px;
  margin: auto;
}

.css-text-align-center {
  text-align: center;
}

.css-dillon-gage-product-list-modal {
  height: 80px;
  overflow-y: auto;
}

.img-thumbnail {
  width: 60px;
}